# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# OS files
.DS_Store
Thumbs.db